{{#each this}}
    <li class='country-list'>
        <div class="country">       
            <img class='country-flag' src={{flags.svg}} alt='flag'  />
            <h1 class='country-many--name'>{{name.official}}</h1>
        </div>
    </li>
{{/each}}